:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;

  .mat-button-base {
    margin-top: 16px;
  }

  .login-form {
    width: 100%;
    max-width: 320px;
  }
}
