.phrase-reviewer {
  height: 100%;
  padding: 70px 32px;
}

.current-phrase {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
  overflow-y: auto;
}

.switch-buttons {
  align-self: center;
  width: 176px;
}
