@import "variables.scss";

.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid $gray-1;
  padding-bottom: 50px;
}

.phrases {
  margin-left: 44px;
}
